body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', 'open sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: @primary-text-color;
    background-color: @page-background-color;
    min-height: 100vh;
}

.main-layout {
    display: flex;
}

.content {
    width: 100%;

    .inner-content {
        padding: 1rem;
    }
}

.clickable:not(:disabled) {
    cursor: pointer;
}

.pull-right {
    text-align: right;
}

@media (min-width: @mobile-breakpoint) {
    .mobileOnly {
        display: none !important;
    }
}

@media (max-width: @mobile-breakpoint) {
    .desktopOnly {
        display: none !important;
    }
}

legend {
    font-size: 21px;
    border-bottom: 1px solid @primary-text-color;
    line-height: 32.1px;
    margin-bottom: 21px;

    &.sub {
        font-size: 16px;
    }
}

.block-reset {
    display: block;
    clear: both;
}

.mb-0 {
    margin-bottom: 0px;
}

.scroll-x {
    overflow-x: auto;
}

.pill {
    padding: 1px 3px;
    font-size: 11px;
    border-radius: 2px;
    display: inline-block;
    background-color: @warn-color;
    border-color: @warn-color;
    color: @warn-text-color;
    text-align: center;

    &.TV {
        background-color: @primary-color;
        border-color: @primary-color;
        color: @primary-text-color;
    }

    &.MOVIE {
        background-color: @error-color;
        border-color: @error-color;
        color: @error-text-color;
    }

    &.primary {
        background-color: @primary-color;
        border-color: @primary-color;
        color: @primary-text-color;
    }

    &.warn {
        background-color: @warn-color;
        border-color: @warn-color;
        color: @primary-text-color;
    }

    &.success {
        background-color: @success-color;
        border-color: @success-color;
        color: @primary-text-color;
    }

    &.error {
        background-color: @error-color;
        border-color: @error-color;
        color: @error-text-color;
    }

    &.grey,
    &.UNKNOWN {
        background-color: @grey-pill-background-color;
        border-color: @grey-pill-background-color;
        color: @primary-text-color;
    }
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
    box-shadow: none;
}

.iplayarr-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.iplayarr-modal-content {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px @primary-box-shadow;

    .modal-inner {
        overflow-y: auto;
        // Breathing room for the scrollbar so it doesn't sit flush against input boxes.
        padding-right: 10px;
        @media (min-width: @mobile-breakpoint) {
            max-height: 75vh;
        }
    }

    @media (min-width: @mobile-breakpoint) {
        min-width: 640px;
        max-width: 80%;
    }

    width: fit-content;
    background-color: @nav-background-color;

    @media (max-width: @mobile-breakpoint) {
        padding-top: 3rem;
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        max-height: 100%;
        border-radius: 0;
        min-width: none;

        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .button-container {
        justify-content: flex-end;
        text-align: right;
        max-width: 650px;

        @media (max-width: @mobile-breakpoint) {
            &.floor {
                margin-top: auto;
                margin-bottom: 3rem;
            }
            box-sizing: border-box;
        }

        button {
            background-color: @settings-button-background-color;
            border: 1px solid @settings-button-border-color;
            padding: 6px 16px;
            font-size: 14px;
            color: @primary-text-color;
            border-radius: 4px;
            margin-left: 1rem;
            cursor: pointer;

            &.cancel {
                background-color: @error-color;
            }

            &:hover:not(:disabled) {
                border-color: @settings-button-hover-border-color;
                background-color: @settings-button-hover-background-color;
            }
        }
    }
}
